@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;300;500;800&display=swap');

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

:root {
  --color-black: #000000;
  --color-gray1: #2B2B2B;
  --color-gray2: #F4F4F4;
  --color-gray3: #444444;
  --color-white: #FFFFFF;
  --color-green: #00E88F;
  --color-purple: #9747FF;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
input {
  font-family: "Poppins", sans-serif;
}

.container {
  position: relative;
  width: 100%;
  background-color: #fff;
  min-height: 100vh;
  overflow: hidden;
}

.formularios-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.entrar-cadastrar {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 75%;
  width: 50%;
  transition: 1s 0.7s ease-in-out;
  display: grid;
  grid-template-columns: 1fr;
  z-index: 5;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0rem 5rem;
  transition: all 0.2s 0.7s;
  overflow: hidden;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

form.cadastrar-form {
  opacity: 0;
  z-index: 1;
}

form.entrar-form {
  z-index: 2;
}

.descricao {
  color: var(--color-gray3);
}

.title {
  font-size: 2.2rem;
  color: var(--color-gray3);
  margin-bottom: 10px;
}

.input-field {
  max-width: 380px;
  width: 100%;
  background-color: #f0f0f0;
  margin: 10px 0;
  height: 55px;
  border-radius: 55px;
  display: grid;
  grid-template-columns: 15% 85%;
  padding: 0 0.4rem;
  position: relative;
}

.input-field i {
  text-align: center;
  line-height: 55px;
  color: #acacac;
  transition: 0.5s;
  font-size: 1.1rem;
}

.input-field input {
  background: none;
  outline: none;
  border: none;
  line-height: 1;
  font-weight: 600;
  font-size: 1.1rem;
  color: #333;
}

.input-field input::placeholder {
  color: #aaa;
  font-weight: 500;
}

/* .social-text {
  padding: 0.7rem 0;
  font-size: 1rem;
}

.social-media {
  display: flex;
  justify-content: center;
}

.social-icon {
  height: 46px;
  width: 46px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0.45rem;
  color: #333;
  border-radius: 50%;
  border: 1px solid #333;
  text-decoration: none;
  font-size: 1.1rem;
  transition: 0.3s;
}

.social-icon:hover {
  color: #00E88F;
  border-color: #00E88F;
} */

.btn {
  width: 150px;
  background-color: var(--color-green);
  border: none;
  outline: none;
  height: 40px;
  width: 140px;
  border-radius: 49px;
  text-transform: uppercase;
  font-weight: 600;
  margin: 10px 0;
  cursor: pointer;
  transition: 0.5s;
  justify-content: center;
  align-items: center;
  gap: 12px;
  padding: 0px 2px;
  border: 2px solid var(--color-black);
  border-radius: 10px;
  margin: 5px 5px;
}

.btn:hover {
  background-color: #00bd74;
}

.paineis-container {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.container:before {
  content: "";
  position: absolute;
  height: 2000px;
  width: 2000px;
  top: -10%;
  right: 48%;
  transform: translateY(-50%);
  background-image: linear-gradient(-45deg, #00E88F 0%, #17e998 100%);
  transition: 1.8s ease-in-out;
  border-radius: 50%;
  z-index: 6;
}

.imagem {
  width: 100%;
  transition: transform 1.1s ease-in-out;
  transition-delay: 0.4s;
}

.painel {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  text-align: center;
  z-index: 6;
}

.painel-esquerdo {
  pointer-events: all;
  padding: 3rem 17% 2rem 12%;
}

.painel-direito {
  pointer-events: none;
  padding: 3rem 12% 2rem 17%;
}

.painel .conteudo {
  color: #fff;
  transition: transform 0.9s ease-in-out;
  transition-delay: 0.6s;
}

.painel h3 {
  font-weight: 600;
  line-height: 1;
  font-size: 1.5rem;
}

.painel p {
  font-size: 0.95rem;
  padding: 0.7rem 0;
}

.btn.transparente {
  margin: 0;
  background: none;
  border: 2px solid #fff;
  width: 130px;
  height: 41px;
  font-weight: 600;
  font-size: 0.8rem;
  color: var(--color-white)
}

.painel-direito .imagem,
.painel-direito .conteudo {
  transform: translateX(800px);
}

/* ANIMATION */

.container.sign-up-mode:before {
  transform: translate(100%, -50%);
  right: 52%;
}

.container.sign-up-mode .painel-esquerdo .imagem,
.container.sign-up-mode .painel-esquerdo .conteudo {
  transform: translateX(-800px);
}

.container.sign-up-mode .entrar-cadastrar {
  left: 25%;
}

.container.sign-up-mode form.cadastrar-form {
  opacity: 1;
  z-index: 2;
}

.container.sign-up-mode form.entrar-form {
  opacity: 0;
  z-index: 1;
}

.container.sign-up-mode .painel-direito .imagem,
.container.sign-up-mode .painel-direito .conteudo {
  transform: translateX(0%);
}

.container.sign-up-mode .painel-esquerdo {
  pointer-events: none;
}

.container.sign-up-mode .painel-direito {
  pointer-events: all;
}

@media (max-width: 870px) {
  .container {
    min-height: 800px;
    height: 100vh;
  }

  .entrar-cadastrar {
    width: 100%;
    top: 95%;
    transform: translate(-50%, -100%);
    transition: 1s 0.8s ease-in-out;
  }

  .entrar-cadastrar,
  .container.sign-up-mode .entrar-cadastrar {
    left: 50%;
  }

  .paineis-container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 1fr;
  }

  .painel {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 2.5rem 8%;
    grid-column: 1 / 2;
  }

  .painel-direito {
    grid-row: 3 / 4;
  }

  .painel-esquerdo {
    grid-row: 1 / 2;
  }

  .imagem {
    width: 200px;
    transition: transform 0.9s ease-in-out;
    transition-delay: 0.6s;
  }

  .painel .conteudo {
    padding-right: 15%;
    transition: transform 0.9s ease-in-out;
    transition-delay: 0.8s;
  }

  .painel h3 {
    font-size: 1.2rem;
  }

  .painel p {
    font-size: 0.7rem;
    padding: 0.5rem 0;
  }

  .btn.transparente {
    width: 110px;
    height: 35px;
    font-size: 0.7rem;
  }

  .container:before {
    width: 1500px;
    height: 1500px;
    transform: translateX(-50%);
    left: 30%;
    bottom: 68%;
    right: initial;
    top: initial;
    transition: 2s ease-in-out;
  }

  .container.sign-up-mode:before {
    transform: translate(-50%, 100%);
    bottom: 32%;
    right: initial;
  }

  .container.sign-up-mode .painel-esquerdo .imagem,
  .container.sign-up-mode .painel-esquerdo .conteudo {
    transform: translateY(-300px);
  }

  .container.sign-up-mode .painel-direito .imagem,
  .container.sign-up-mode .painel-direito .conteudo {
    transform: translateY(0px);
  }

  .painel-direito .imagem,
  .painel-direito .conteudo {
    transform: translateY(300px);
  }

  .container.sign-up-mode .entrar-cadastrar {
    top: 5%;
    transform: translate(-50%, 0);
  }
}

@media (max-width: 570px) {
  form {
    padding: 0 1.5rem;
  }

  .imagem {
    display: none;
  }

  .painel .conteudo {
    padding: 0.5rem 1rem;
  }

  .container {
    padding: 1.5rem;
  }

  .container:before {
    bottom: 72%;
    left: 50%;
  }

  .container.sign-up-mode:before {
    bottom: 28%;
    left: 50%;
  }
}